<%- include("partials/header") -%>


<% posts.forEach(function(post) { %>
<div class="home">
            <div class="title-card">
                <h2><%= post.title %></h2>
                <img style="width: 8.5cm; height: auto; padding-left: 0;" src=<%= post.imageURL %>>
                <div class="user-img">
                    <p style="padding-top: 10px;"><%= post.username %></p>
                </div>
            </div>
            <div class="profile-post-content">
                <% if (post.content.length > 500) { %>
                    <p><%= post.content.substring(0, 500) + " ..." %></p>
                    <a href="/posts/<%= post._id %>">Read more</a>
                <% } else { %>
                    <p><%= post.content %></p>
                <% } %>
            </div>
</div>

<% }); %>

<%- include("partials/footer") -%>
